ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.recipe-item {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.recipe-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-item.active {
  opacity: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}